*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 600px;
    background-color: #fefafa;
}
.por{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#ig {
    margin-right: 260px;
    
}
nav{
    margin-right: 300px;
    margin-bottom: 120px;
}
nav li {
    display: inline;
    margin: 10px 10px;
}
nav a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-family:  'Gill Sans MT', ;
    font-weight: lighter;
}

nav a:hover{
    color: goldenrod;
}

main{
    /* background-color: aquamarine; */
    width: 100%;
    height: 800px;
    
}
h1{
    text-align: center;
}

button{
    margin-bottom: 120px;
    margin-right: 40px;
    width: 90px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    font-weight: 800;
    cursor: pointer;
}
button a{
    text-decoration: none;
    color: white;
}
button:hover{
    background-color: rgb(218, 29, 29);
}
.dare{
    padding: 30px;
}

.dare p{
    margin-left: 170px;
    font-size:60px;
    color: rgb(4, 4, 68);
}
.dare span{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(4, 4, 68);
}
.gut{
 margin-left: 900px;
 position: absolute;
 top: 29%;
 right: 10%;
 width: 350px;
}
 .wht{
     margin-left: 169px;
     margin-top: 30px;
     text-transform: capitalize;
     font-size: 18px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 #learn-more-btn{
     margin: 169px;
     position: relative;
     bottom: 100px;
     width: 120px;
 }
 .sec1{
     margin-top: 80px;
 }

 .sec1 p{
     text-align: center;
     margin-top: 20px;
     font-size: 20px;
 }
 .sec1 h1{
     font-size: 33px;
     color: rgb(2, 2, 83);
 }
 .sec1 div{
     width: 100px;
     border: 2px solid red;
     align-items: center;
     margin-left: 536px;
     margin-top: 10px;
     height:"";
 }

.icons{
    width: 400px;
    padding: 10px;
    display: block;
    position: absolute;
    top: 40%;
    left: 50px;
}
.icons  ion-icon{
    width: 200px;
    color: rgb(19, 4, 104);
    padding: 10px;
    font-size: 25px;
}


.open{
    
}

.open h1{
    font-size: 30px;
    margin-right: 500px;
    margin-top: 120px;
    color: rgb(1, 13, 65);
}
.open span{
    font-size: 25px;
}
.open div{
    width: 70px;
    border: 1px solid red;
    margin-left: 200px;
    margin-top: 30px;
}

.pgr{
    padding: 20px;
    display: block;
    margin-left: 160px;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: lighter;
}

.parg{
    margin-left: 800px;
    position: relative;
    bottom: 180px;
    right: 300px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.open img{
    width: 200px;
    margin-left: 800px;
    position: relative;
    bottom: 300px;
    border-radius: 5px;
    border: 2px dashed goldenrod;
}
.open .grd{
    position:absolute;
    top: 210%;
    right: 72%;
    text-transform: uppercase;
    width: 120px;
}
.main-background{
    background-image: linear-gradient(to bottom, #fefafa, #fefafa);
    clip-path: circle(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    height: 600px;
    position: relative;
    bottom: 22%;
    border-radius: 6px;
    /* box-shadow: 10px 10px 14px black; */
}

.dig-1{
    padding: 50px;
}
.dig-1 h1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(16, 16, 56);
    margin-bottom: 10px;
}
.dig-1 p{
    text-align: center;
    font-size: 19px;
    font-family: sans-serif;
}
.dig-1 canvas{
    width: 100px;
    border: 1px solid red;
    height: 3px;
    text-align: center;
    margin-left: 480px;
}
.what{
    display: flex;
    align-items: center;
    margin-left: 140px;
    gap: 2rem;
    margin-top: 50px;
}

.dig-2{
    width: 300px;
    height: 280px;
    background-color: rgb(253, 253, 253);
    box-shadow: 5px 5px 10px black;
    padding: 20px;
    border-radius: 10px;
}.dig-2 img{
    width: 50px;
    margin-left: 90px;
    margin-bottom: 10px;
}

.dig-2 h1{
    color: rgb(9, 9, 37);
    margin-bottom: 30px;
}

.dig-2 p{
    color: rgb(7, 0, 0);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
.dig-2 ion-icon{
    text-align: center;
    margin-left:100px;
    margin-top: 28px;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px dashed red;
    color:blueviolet;
}


.dig-3{
    width: 300px;
    height: 280px;
    background-color: rgb(255, 254, 254);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

.dig-3 img{
    width: 50px;
    margin-left: 90px;
    margin-bottom: 10px;
}

.dig-3 h1{
    color: rgb(9, 9, 37);
    margin-bottom: 30px;
}

.dig-3 p{
    color: rgb(8, 0, 0);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
.dig-3 ion-icon{
    text-align: center;
    margin-left:100px;
    margin-top: 1px;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px dashed red;
    color:blueviolet;
}


.dig-4{
    width: 300px;
    height: 280px;
    background-color: rgb(252, 251, 251);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

.dig-4 img{
    width: 50px;
    margin-left: 90px;
    margin-bottom: 10px;
}

.dig-4 h1{
    color: rgb(9, 9, 37);
    margin-bottom: 30px;
}

.dig-4 p{
    color: rgb(14, 0, 0);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
.dig-4 ion-icon{
    text-align: center;
    margin-left:100px;
    margin-top: 28px;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px dashed red;
    color:blueviolet;
}

.vde iframe{
    width: 100%;
    height: 500px;
    border-radius: 5px;
}

.details {
    position: absolute;
    top: 340%;
    left: 27%;
}

.details h1{
margin-bottom: 20px;
font-size: 30px;
color: rgb(7, 7, 41);
text-transform: uppercase;
}

.details p{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: lighter;
}

.progress-bar{
    background-image:linear-gradient(to right, #4CAF50, 75%, #FF9800 25%);
    height: 20px;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    animation: load 3s forwards;
}

@keyframes load{
    0%{
        width: 0% ;
    }
    100%{
        height: 20px;
    }
}

.sec-4{
    padding: 20px;
}
.sec-4 p{
    text-align: center;
}
.sec-4 h1{
    margin-bottom: 10px;
    font-size: 30px;
    color: rgb(6, 6, 49);
    text-transform: uppercase;
}
.sec-4 div{
    width: 80px;
    height: 2px;
    border: 2px solidred;
    background-color: red;
    margin-left: 530px;
    margin-top: 15px;
}
.sec-5{
    width: 100%;
    height: 500px;
    background-color: #fffdfa; 
    padding: 20px;
    display: flex;
    margin-left: 150px;
    gap: 2rem;
}

 
.map{
    width: 400px;
    height: 240px;
    background-color: rgb(248, 246, 246);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}
.map h1{
    margin-bottom: 20px;
    font-weight: lighter;
    font-size: 20px;
    margin-right: 200px;
}
.map h3{
    margin-bottom: 30px;
    margin-left: 30px;
}
.map p{
    margin-bottom: 20px;
}
.map div{
    color: white;
    text-align: center;
    font-size: 10px;
    padding: 4px;
}


.map-3{
    width: 400px;
    height: 240px;
    background-color: rgb(248, 246, 246);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}
.map-3 h1{
    margin-bottom: 20px;
    font-weight: lighter;
    font-size: 20px;
    margin-right: 200px;
}
.map-3 h3{
    margin-bottom: 30px;
    margin-left: 30px;
}
.map-3 p{
    margin-bottom: 20px;
}
.map-3 div{
    color: white;
    text-align: center;
    font-size: 10px;
    padding: 4px;
}

.sec-6{
    width: 100%;
    margin-bottom: 200px;
    display: flex;
    margin-left: 20px;
    gap: 2rem;
    position: absolute;
    top: 540%;
}


.map-4{
    width: 360px;
    height: 260px;
    background-color: rgb(248, 246, 246);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}
.map-4 h1{
    margin-bottom: 20px;
    font-weight: lighter;
    font-size: 16px;
    margin-right: 200px;
}
.map-4 h3{
    margin-bottom: 30px;
    margin-left: 30px;
}
.map-4 p{
    margin-bottom: 20px;
}
.map-4 div{
    color: white;
    text-align: center;
    font-size: 10px;
    padding: 4px;
}



.map-5{
    width: 360px;
    height: 260px;
    background-color: rgb(248, 246, 246);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}
.map-5 h1{
    margin-bottom: 20px;
    font-weight: lighter;
    font-size: 16px;
    margin-right: 200px;
}
.map-5 h3{
    margin-bottom: 30px;
    margin-left: 30px;
}
.map-5 p{
    margin-bottom: 20px;
}
.map-5 div{
    color: white;
    text-align: center;
    font-size: 10px;
    padding: 4px;
}



.map-6{
    width: 360px;
    height: 260px;
    background-color: rgb(248, 246, 246);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}
.map-6 h1{
    margin-bottom: 20px;
    font-weight: lighter;
    font-size: 20px;
    margin-right: 200px;
}
.map-6 h3{
    margin-bottom: 30px;
    margin-left: 30px;
}
.map-6 p{
    margin-bottom: 20px;
}
.map-6 div{
    color: white;
    text-align: center;
    font-size: 10px;
    padding: 4px;
}

.sec-7{
    margin-top: 200px;
}

.sec-7 h1{
    font-size: 30px;
    color: rgb(7, 7, 53);
    text-transform: uppercase;
    margin-bottom: 20px;
}
.sec-7 p{
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
}

.sec-7 div{
    width: 80px;
    height: 2px;
    border: 2px solidred;
    background-color: red;
    margin-left: 545px;
    margin-top: 15px;
}

.image-gallery{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 10px;
padding: 30px;
}

.image-container{
    width: 370px;
    height: 150px;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0.2,);
    position: relative;
    animation: move-left 10s infinite linear;

}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

@keyframes move-left{
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(-100%);
    }
}


.image-container img{
    transform: scale(1.2);
}
.image-container:hover{
box-shadow: 0 0 20px rgb(red, green, blue);
animation-play-state: paused ;
}

.image-container img:hover{
    transform: scale(1.2);
}
.image-container:hover::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(red, green, blue, alpha);
    border-radius: 10px;
}
.map-9{
text-align: center;
margin-top: 20px;
}
.map-9 h1{
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(5, 5, 41);
    border: 1px dashed red;
    width: fit-content;
    margin-left: 450px;
    padding: 10px;
}
.map-9 p{
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.map-9 div{
    width: 150px;
    height: 3px;
    background-color: red;
    margin-left: 520px;
}

.sec-11{
    background-color: rgb(248, 245, 250);
    width: 300px;
    height: 400px;
    border-radius:10px ;
    padding: 20px;
     box-shadow: 5px 5px 10px black;
}
.sec-11 .igh{
    width: 60px;
    border-radius: 50px;
    margin-bottom: 15px;
    margin-left: 90px;
    margin-top: 20px;
    border: 3px solid red;
}

.sec-11 div{
    width: 60px;
    border: 2px solid red;
    margin-top: 60px;
    margin-left: 100px;
}
.sec-11 .paragraph{
    margin-top: 10px;
}
.sec-11 .john{
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
}

.gbehu{
    display: flex;
    gap: 2rem;
    margin-left: 99px;
    margin-top: 30px;
}
.rat{
    text-align: center;
    margin-top: 260px;
}
.rat h1{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 30px;
    color: rgb(4, 4, 48);
}
.rat p{
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
.rat div{
    width: 60px;
    border: 2px solid red;
    margin-left: 560px;
}

.put{
    margin-left: 390px;
    margin-top: 50px;
}
.put input{
    width: 400px;
    height: 60px;
    color: gray;
    background-color: white;
    border: 0.1px solid gray;
    outline: none;
    border-radius: 3px;
    padding: 3px;
    cursor: pointer;
}
.put input:hover{
    border-top: 1px dashed gray;
    border-bottom: 1px dashed gray;
}

.put input :nth-of-type(text){
    font-size: 50px;
}
.put input::placeholder{
    color: rgb(139, 139, 139);
    font-size: 17px;
}
.put .put-1{
    width: 140px;
    background-color: #FF9800;
    font-family:'Roboto';
    font-size: 20px;
}

.put .put-1:hover{
    background-color: #bd7f24;
}
 .foot-1{
    width: 100%;
    height: 400px;
    background-color: rgb(221, 21, 21);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
}
.foot-1 ion-icon{
font-size: 20px;
margin-top: 30px;
color: white;
margin-left: 40px;
}

footer{
    width: 100%;
    height: 400px;
    background-color:#2E4053;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 0 5px black;
  
    
}
footer .divine{
   
}

.divine img{
    width: 300px;
    position: absolute;
    top: 930%;
    right: 20%;
    margin-right: 600px;
}
footer a{
    margin-left: 160px;
    margin-top: 50px;
    text-decoration: none;
    font-size: 30px;
    color: #FF9800;
}
footer .dele1{
    width: 100%;
    border: 0.5px solid rgb(252, 251, 251);
    display: block;
    position: absolute;
    top: 990%;
}


footer p{
    position: absolute;
    top: 1000%;
    color: white;
    font-size: 20px;
}
